.card  {
  img {
    width: 300px;
  }
  // background: white;
  margin: 50px;
  perspective: 1000px;
}


.card:hover .flipper,
.card.hover .flipper {
  transform: rotateY(180deg);
}

.card,
.front,
.back {
  height: 450px;
  width: 300px;
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 150px 100%;
}

.front, 
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  & p {
      margin: 5px 0;
      padding: 0px 25px;
  }
& header {
  background: #43465c;
  padding: 20px;
  font-size: 16pt;
  color: #fff;
}
  transform: rotateY(180deg);
  background: #DEDEDE;

}

.back .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.btn-card-favorite {
  font-size: 16pt;
  padding: 8px;
  border-radius: 15px;
}

.fav {
  border: 10px solid magenta;
}

.star-icon {
}