.card-container {
  background-image: url('../../Assets/movie-background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  overflow-x: scroll;
  height: calc(100vh - 80px);
}