* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu';
}

.App {
  text-align: center;

}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  // display: inline-block;
}

.btn-log-in {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 30px;
}

.btn-sign-up {
  position: absolute;
  top: 20px;
  right: 100px;
}
.App-title {
  font-size: 50pt;
  display: inline-block;
  font-family: 'CanterBold3D';
  letter-spacing: .4em;
}



.App-intro {
  font-size: large;
}

