.App-header {
  background-color: #B22628;
  height: 100px;
  padding: 20px;
  text-align: center;
  & a {
    color: #fff;
  }
}

.btn-log-in {
  background: rgba(0, 0, 0, .1);
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 13pt;
  outline: none;
  padding: 3px;
  position: absolute;
  right: 85px;
  top: 5px;
}

.btn-sign-up {
  background: #fff;
  border: none;
  color: #B22628;
  font-size: 13pt;
  outline: none;
  padding: 3px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.btn-header-favorite {
  position: absolute;
  top: 5px;
  left: 5px;
  background: none;
  border: none;
  font-size: 13pt;
  outline: none;
  color: #1c285b;
}

.btn-sign-up,
.btn-log-in,
.btn-header-favorite {
  &:hover {
    cursor: pointer;
    font-size: 14pt;
  }
}

.favorite-icon {
  &:hover {
    font-size: 26pt;
  }
  font-size: 24pt;
  color: #ffcf40;
}

.App-title {
  font-size: 50pt;
  font-family: 'CanterBold3D', sans-serif;
  display: inline-block;
  letter-spacing: .4em;
}
